/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F9F9F9;
    /* Light background */
    color: #333333;
    /* Dark text */
}

/* Navigation Styles */
.nav-container .brand-logo {
    color: #000000;
    text-decoration: none;
    font-family: "Yesteryear", cursive;
    /* font-weight: 400; */
    font-style: normal;
    font-size: 24px;
}

.nav-wrapper {
    background-color: #E4E4E4;
    align-items: center;
    height: 8vh;
    margin: auto;
}

.nav-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 70vw;
    margin: auto;
}

.nav-container ul li {
    display: inline;
}

.nav-links a {
    font-size: .95em;
    color: #000000;
    margin-left: 30px;
    text-decoration: none;
}

.nav-container a:hover {
    color: #E67E22;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* HERO SECTION (HOME PAGE) */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555555;
}

.hero-image img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #061EFB;
    /* Primary green */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3746d0;
    /* Accent orange */
}

.btn-secondary {
    background-color: #FF9800;
    /* Secondary orange */
}

.btn-secondary:hover {
    background-color: #E67E22;
}

/* ABOUT SECTION */
.container {
    margin: 30px auto;
    padding: 30px;
    width: 70vw;
    /* flex-wrap: wrap; */
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    color: #333333;
}

/* PROJECTS SECTION */
.projects-section {
    margin-top: 20px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-item h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 16px;
    color: #666;
    flex-grow: 1;
}

/* Hover Animations */
.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.project-item:hover img {
    transform: scale(1.05);
}

/* CONTACT SECTION */
.contact-section {
    margin-top: 20px;
    text-align: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333333;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.contact-form button {
    padding: 10px;
    background-color: #061EFB;
    /* Primary green */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: #2b3bc8;
    /* Accent orange */
}

.contact-map h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.contact-map iframe {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer Styling */
footer {
    background-color: #E4E4E4;
    color: #60636D;
    padding: 40px 0;
    /* text-align: center; */
}

.footer-container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 70vw;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 10px; */
}

.footer-links,
.footer-social,
.footer-contact {
    margin-bottom: 20px;
}

.footer-links h3,
.footer-social h3,
.footer-contact h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #60636D;
    /* Accent color for headers */
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
}

.footer-links ul li a {
    color: #60636D;
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: #FF9800;
    /* Accent color on hover */
}

/* Social Media Icons */
.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons li a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icons li a img:hover {
    transform: scale(1.2);
    /* Slight zoom on hover */
}

/* Contact Info */
.footer-contact p {
    margin: 5px 0;
}

.footer-contact p a {
    color: #60636D;
    text-decoration: none;
}

.footer-contact p a:hover {
    text-decoration: underline;
}

/* Footer Bottom */
.footer-bottom {
    padding: 10px 0;
    color: #60636D;
}

.footer-bottom p {
    margin: 0;
    text-align: center;
}


/* Responsive Design - Media Queries */
@media (max-width: 768px) {

    .nav-container {
        width: 90vw;
    }

    .container {
        width: 90vw;
    }

    .nav-container ul li {
        display: block;
    }

    /* .main-nav {
        overflow: hidden;
    } */

    .nav-links {
        background-color: #E4E4E4;
        box-sizing: border-box;
        position: absolute;
        top: -110%;
        left: 0;
        width: 100%;
        height: 16vh;
        text-align: left;
        transition: 0.3s;
    }

    .nav-links.active {
        z-index: 10;
        top: 8vh;
        padding-left: 15vw;
        margin: 0;
    }

    .nav-links.active li {
        margin-top: 14px;
    }

    .nav-links.active li a {
        margin: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 200px;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .project-item {
        height: auto;
    }

    .project-item img {
        /* height: 150px; */
        object-fit: cover;
    }

    .project-item h2 {
        font-size: 20px;
    }

    .project-item p {
        font-size: 14px;
    }

    footer {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links,
    .footer-social,
    .footer-contact {
        margin-bottom: 30px;
    }
}

/* @media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    .hero-image img {
        width: 150px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 14px;
    }

    footer p {
        font-size: 14px;
    }
} */